<!-- Bootstrap core JavaScript -->
<script src="{{ "/js/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery-easing/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scrollreveal/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ "/js/creative.js" | prepend: site.baseurl }}"></script>
