
<!-- Subscribers Script -->
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/util.js" | prepend: site.baseurl }}"></script>

<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">var submitted=false;</script>
<script type="text/javascript">
$('#gform').on('submit', function(e) {
  $('#gform *').fadeOut(2000);
  $('#gform').prepend('Gracias por tu mensaje...');
  });
</script>
<script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#important-msg').modal('show');
    });
</script>
