@font-face {
  font-family: 'Gobold';
  src: url('../fonts/gobold_regular.otf') format('opentype');
}
@font-face {
  font-family: 'Gobold-thin';
  src: url('../fonts/gobold_thin.otf') format('opentype');
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Medium.otf') format('opentype');
}
