// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin avenir-font() {
  font-family: 'Avenir';
}
@mixin gobold-font() {
  font-family: 'Gobold';
}
@mixin gobold-thin-font() {
  font-family: 'Gobold-thin';
}
@mixin sans-serif-font() {
  font-family: 'Helvetica';
}
