---
layout: default
permalink: /blog/
title: Blog
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- Page Content -->
    <section class="main style2">
      <div class="container">
        <div>
          <!-- Blog Entries Column -->
          <div>
            <h1 class="text-white text-uppercase">Origen Blog</h1>
            <h4 class="text-white mb-6">Sentir, Saber y Hacer</h4>
          </div>


          <!-- Blog Posts -->
          {% for post in site.posts %}
          <div class="features">
            <section>
              <div>
                <div >
                  <h2>{{ post.title }}</h2>
                  <p>{{ post.excerpt }}</p>
                  <a href="{{ site.baseurl }}{{ post.url }}">Ver mas &rarr;</a>
                </div>
                <br />
                <div>
                  • Publicado: {{ post.date | date: "%b %-d, %Y" }} por {% if post.author %} {{ post.author }}{% endif %}
                </div>
              </div>
            </section>
          </div>
          {% endfor %}
        </div>
       </div>
     </div>
  </section>
  <!-- Footer -->
  {% include scripts.html %}
  </body>
</html>
