---
title: blog
---
<html lang="en">
{% include head.html %}

<body id="page-top">
	{% include nav.html %}
	<section class="bg-primary" id="contact">
		<div class="container">
			<div class="row">
        {% for post in site.posts %}
          <section class="bg-white">
            <h1 class="text-center"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>


              {{ post.excerpt }}


            	<a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
        			</section>
        {% endfor %}
			</div>
		</div>
	</section>
	{% include scripts.html %}
</body>

</html>
