---
layout: default
permalink: /blog/
title: Blog
---
<!DOCTYPE html>
<html lang="es">
  {% include head.html %}
  <body>
    <!-- Page Content -->
    <section class="main style2">
      <div class="container">
        <div>
          <!-- Blog Entries Column -->
          <div>
            <h1 class="text-white text-uppercase">Origen Blog</h1>
            <h4 class="text-white mb-6">Sentir, Saber y Hacer</h4>
          </div>


          <!-- Blog Posts -->
          {% for post in site.posts %}
          <div class="features">
            <section>
              <div>
                <div >
                  <h2>{{ post.title }}</h2>
                  <p>{{ post.excerpt }}</p>
                  <a href="{{ site.baseurl }}{{ post.url }}">Ver mas &rarr;</a>
                </div>
                <br />
                <div>
                  • Publicado: <time>{% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}Enero
            {% when '2' %}Febrero
            {% when '3' %}Marzo
            {% when '4' %}Abril
            {% when '5' %}Mayo
            {% when '6' %}Junio
            {% when '7' %}Juli0
            {% when '8' %}Agosto
            {% when '9' %}Septiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
          {% endcase %}
          {{ post.date | date: "%Y" }}</time> por {% if post.author %} {{ post.author }}{% endif %}
                </div>
              </div>
            </section>
          </div>
          {% endfor %}
        </div>
       </div>
     </div>
  </section>
  <!-- Footer -->
  {% include scripts.html %}
  </body>
</html>
