<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
<body id="page-top">
	{% include nav.html %}
	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row desaturated">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase">Hola!</h1>
					<h1 class="text-uppercase">Somos</h1>
					<p>
						<img src="./img/logo-blanco.png" style="height: 350px">
					</p>
				</div>
				<div class="col-lg-8 mx-auto">
					<h1 class="text-uppercase">Hemos visto el futuro y funciona</h1>
				</div>
			</div>
			<div class="row">
				<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Conócenos</a>
			</div>
		</div>
	</header>
	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg">
					<h2 class="section-heading text-white text-uppercase">Tenemos <br>lo que necesitas /</h2>
				</div>
				<div class="col-lg mx-auto text-center">
					<br>
					<br>
					<hr class="my-4">
					<h4 class="text-white mb-6">El futuro del trabajo son las relaciones.
						Vení a Origen. Un lugar para trabajar en tus proyectos, aprender, formarte, compartir, comer algo rico y hasta disfrutas actividades culturales.</h4>
					<hr>
					<h4 class="text-white mb-6"> Sin mensualidades, pagás lo que usás</h4>
					<br>
					<div class="button">
							<a class="btn-half js-scroll-trigger" href="#services">Conoce Nuestros Servicios</a>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg text-left">
					<h2 class="section-heading text-uppercase" text-uppercase>Nuestros Servicios /</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-coffee text-primary mb-3 sr-icons"></i>
						<h4 class="mb-3">Cafe</h4>
						<p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-cutlery text-primary mb-3 sr-icons"></i>
						<h4 class="mb-3">Comida</h4>
						<p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
						<h4 class="mb-3">Impresion 3d</h4>
						<p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-beer text-primary mb-3 sr-icons"></i>
						<h4 class="mb-3">Bebidas</h4>
						<p class="text-muted mb-0">You have to make your websites with love these days!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-0" id="portfolio">
		<div class="container-fluid p-0">
			<div class="row no-gutters popup-gallery">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-dark text-white">
		<div class="container text-center">
			<h2 class="mb-4">Es hora de que te unas a nosotros</h2>
			<a class="btn btn-primary btn-xl sr-button" href="#contact">Contáctanos</a>
		</div>
	</section>

	<section class="bg-light" id="contact">
		<div class="container">
			<div class="row">
				<div class="mx-auto">
					<img src="./img/logo-color.png" style="height: 200px">
				</div>
			</div>
			<div class="row">
				<div class="col-lg text-center">
					<h2 class="section-heading">Hablemos /</h2>
				</div>
        <div class="col-lg row">
          <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSca_OpbMTzku-1rC-tq4g-5DncdEuZdwDJKGlZ9KIHNyGfBjQ/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
            <div class="form-group">
              <label for="entry.713391192">Nombre:</label>
              <input type="text" class="form-control" name="entry.713391192" id="entry.713391192" placeholder="Introduzca su nombre">
            </div>
            <div class="form-group">
              <label for="entry.116939966">Direccion de email:</label>
              <input type="email" class="form-control" name="entry.116939966" id="entry.116939966" placeholder="Introduzca su email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
        </div>
				<div class="col-lg row">
					<div class="col-lg-4 ml-auto text-center">
						<a class="fa fa-facebook-square fa-3x mb-3 sr-contact" href="https://facebook.com/origencowork"></a>
					</div>
					<div class="col-lg-4 ml-auto text-center">
						<a class="fa fa-instagram fa-3x mb-3 sr-contact" href="https://instagram.com/origencowork"></a>
					</div>
					<div class="col-lg-4 ml-auto text-center">
						<a class="fa fa-twitter fa-3x mb-3 sr-contact" href="https://twitter.com/origencowork"></a>
					</div>
					<div class="col-lg-4 ml-auto text-center">
						<a class="fa fa-phone fa-3x mb-3 sr-contact"></a>
						<p>123-456-67890</p>
					</div>
					<div class="col-lg-4 mr-auto text-center">
							<a class="fa fa-envelope-o fa-3x mb-3 sr-contact" href="mailto:origencowork@gmail.com"></a>
							<p>origencowork@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include footer.html %}
</body>

</html>
