---
---

<html lang="en">
{% include head.html %}

<body id="page-top">
	<section id="header">
		<div class="main style2">
			<h2>{{ page.title }}</h2>
			<h4>
				<time>{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Enero
  {% when '2' %}Febrero
  {% when '3' %}Marzo
  {% when '4' %}Abril
  {% when '5' %}Mayo
  {% when '6' %}Junio
  {% when '7' %}Juli0
  {% when '8' %}Agosto
  {% when '9' %}Septiembre
  {% when '10' %}Octubre
  {% when '11' %}Noviembre
  {% when '12' %}Diciembre
{% endcase %}
{{ page.date | date: "%Y" }} {% if page.author %} • {{ page.author }}{% endif %} {% if page.meta %} • {{ page.meta }}{% endif %}</time>
			</h4>
		</div>
	</section>
	<section class="bg-primary">
		<div class="main style1">
        <p>

        </p>
    </div>
    <div class="container bg-white">
      {{ content }}
    </div>
	</section>
	<section id="header">
		<div class="inner">
			<ul class="actions">
				<li><a href="/blog" class="button scrolly">Atras</a></li>
			</ul>
		</div>
	</section>
	{% include scripts.html %}
</body>

</html>
